<%= form_for @trip do |f| %>
  <h2> Make a Trip </h2>
  <p><%= f.label :name %>  <%= f.text_field :name %></p>
  <h3> My Events </h3>
  <% @events.each do |event| %>
    <p><%= f.label event.title %><%= f.check_box :event_ids, {:multiple => true}, event.id, nil %></p>
  <% end %>

  <% @orphan_events.each do |event| %>
    <p><%= f.label event.title %><%= f.check_box :event_ids, {:multiple => true}, event.id, nil %></p>
  <% end %>
  <p><%= f.submit %></p>
<% end %>
