<div class="container">


  <div class="row">

    <div class="col-md-6">

      <%= form_for @trip do |f| %>
        <p><%= f.label :name %>  <%= f.text_field :name %></p>
        <h3> My Events </h3>
        <% @events.each do |event| %>
        <p><%= f.check_box :event_ids, {:multiple => true}, event.id, nil %>  <%= f.label event.title %></p>
        <% end %>

        <% @addable_events.each do |event| %>
        <p><%= f.check_box :event_ids, {:multiple => true}, event.id, nil %>  <%= f.label event.title %></p>
        <% end %>
        <%= link_to "Create New Event", new_event_path %>
        <hr>
    </div>

    <div class="col-md-6">
      <h4>Add a photo (optional)</h4>
      <%= fields_for :image do |i| %>
      <p><%= i.label :url, "Image URL (please host elsewhere)"  %>
      <%= i.text_field :url %></p>
      <p><%= i.label :title %><br>
      <%= i.text_field :title %></p>
      <p><%= i.label :caption %><br>
      <%= i.text_area :caption %></p>
      <% end %>
    </div>

    <p><%= f.submit %></p>
    <% end %>
  </div>
</div>


<% if @trip.images.count > 0 %>
<hr>
<h3>Trip Photos</h3>
<br>
<%= render partial: '/images/images', locals: {images: @trip.images} %>
<% end %>
