<%= form_for @trip do |f| %>
  <p><%= f.label :name %>  <%= f.text_field :name %></p>
  <h3> My Events </h3>
  <% @events.each do |event| %>
    <p><%= f.label event.title %><%= f.check_box :event_ids, {:multiple => true}, event.id, nil %></p>
  <% end %>

  <% @orphan_events.each do |event| %>
    <p><%= f.check_box :event_ids, {:multiple => true}, event.id, nil %>  <%= f.label event.title %></p>
  <% end %>
  <%= link_to "Create New Event", new_event_path %>
  <hr>
  <p><%= f.submit %></p>
<% end %>

<% if @trip.images.count > 0 %>
<hr>
<h3>Trip Photos</h3>
<br>
<%= render partial: '/images/images', locals: {images: @trip.images} %>
<% end %>
