<h1> <%= trip.name %></h1>
<p> By: <%= trip.user.user_name %></p>
<% trip.events.each do |event| %>
  <div class="well">
    <h4><%= event.title %></h4>
    <p><%= event.review %></p>
    <p><%= event.rating %> stars</p>
  </div>
<% end %>
