<div class="jumbotron">
  <h1><%= link_to trip.name, trip_path(trip) %></h1>
  <p> Trip by: <%= link_to trip.user.user_name, user_path(trip.user) %></p>
  <p><%= image_tag trip.featured_image_url, class: "img-fluid" %></p>
  <% trip.events.each do |event| %>
      <h4><%= link_to event.title, event_path(event) %></h4>
      <p><%= event.review %></p>
      <p><%= event.rating %><%= " star".pluralize(event.rating) %></p>
  <% end %>
  <% if trip.images.count > 0 %>
  <hr>
  <h3>Trip Photos</h3>
  <br>
  <%= render partial: '/images/images', locals: {images: trip.images} %>
  <% end %>
  <% if trip.user == current_user %>
    <p><%= link_to "Add trip photo", new_trip_image_path(trip.id) %></p>
    <span><%= link_to "Edit trip", edit_trip_path(trip)%></span>
    <span> | </span>
    <span><%= link_to "Delete", trip_path(trip), method: :delete, data: { confirm: 'Delete Trip and all associated events?' } %></span>
  <% else %>
    <p><%= link_to "Add to Wishlist", copy_trip_path(trip.id), method: :post %></p>
  <% end %>
</div>
