<title><%= @trip.name %> - Pintrips</title>
<%= render partial: 'trip', locals: {trip: @trip} %>
<p><%= link_to "Back to all Trips", trips_path %> | <%= link_to "Add a comment", "#", id: "new_comment_link" %></p>
<hr>
<p><%= render partial: '/comments/new', locals: {comment: @comment, type: "trip", id: @trip.id} %></p>
<%= render partial: '/comments/show', locals: {comments: @comments} %>

<script type="text/javascript">

// let new_comment_link = document.querySelector('#new_comment_link')
document.querySelector('#new_comment_link').addEventListener('click', function(event) {
  event.preventDefault();
  debugger;
  document.querySelector('#new_comment_link').style = "";
}, true)

</script>
