<title><%= @trip.name %> - Pintrips</title>
<%= render partial: 'trip', locals: {trip: @trip} %>
<p><%= link_to "Back to all Trips", trips_path %> | <%= link_to "Add a comment", "#", id: "new_comment_link" %></p>
<hr>
<p><%= render partial: '/comments/new', locals: {comment: @comment, type: "trip", id: @trip.id} %></p>
<%= render partial: '/comments/show', locals: {comments: @comments} %>

<script type="text/javascript">

// Store the comment form html, then hide the form


commentFormStore = $('.new_comment').html()
$('.new_comment').html("")


debugger;
$('#new_comment_link').on('click', commentFormStore, function(event) {
  event.preventDefault();
  $('.new_comment').html(event.data) // Re-create the form
  $('.new_comment').style.display = ""  // Show the form

}, true)

</script>
