<%= form_for comment do |f| %>
<p><%= f.label "Enter comment" %></p>
<p><%= f.text_area :content %></p>
  <% if type == "trip" %>
    <%= hidden_field(:trip_id, id) %>
  <% elsif type == "event" %>
    <%= hidden_field(:event_id, id) %>
  <% end %>
<% if logged_in? %>
  <%= f.submit class: "btn btn-primary" %>
<% else %>
  <%= f.submit class: "btn btn-primary", data: { confirm: 'Log in or sign up to post a comment!' } %>
<% end %>
<% end %>
<script type="text/javascript">

  // let comment_form = document.querySelector('.new_comment')
  document.querySelector('.new_comment').style.display = "none"

</script>
