<div class="row">
  <div class="col-md-8">
    <%= render partial: 'map' %>
  </br>
    <center><h3> My Trips </h3></center>

    <% @trips.each do |trip| %>
      <div class="jumbotron">
        <%= render partial: 'trips/trip', locals: {trip: trip, featured_image_url: trip.featured_image_url} %>
      </div>
    <% end %>
    <% if current_user && current_user == @user %>
      <p><%= link_to "Create new trip", new_trip_path %></p>
    <% end %>
    <hr>

    <center><h3> Standalone Events: </h3></center>

    <% @orphan_events.each do |event| %>
      <%= render partial: "/events/event", locals: {event: event} %>
    <% end %>

    <br>
    <% if current_user && current_user == @user %>
      <%= link_to "Create new event", new_event_path %>
    <% end %>
    <br>
    <!--  Events Wish List -->
    <center><h3> Wish List: </h3></center>
    <% @wish_list_events.each do |event| %>
      <%= render partial: "/events/event", locals: {event: event} %>
    <% end %>

  </div>
  <div class="col-md-4">
    <h1><%= @user.user_name %></h1>
    <% if logged_in? %>
      <% if current_user != @user && !Friendship.between(current_user, @user) %>
        <p>(<%= link_to "add friend", friendships_path(friend_id: @user), method: :post%>)</p>
      <% end %>
    <% end %>
    <p><%= @user.first_name %> <%= @user.last_name %></p>
    <p><%= @user.email %></p>

    <h3>My Friends:</h3>

    <% @user.friendships.each do |friendship| %>
      <li>
        <%=link_to friendship.friend.user_name, user_path(friendship.friend.id)%>
        <% if current_user %>
          (<%=link_to "remove", friendship_path(friendship.friend.id), :method => :delete %>)
        <% end %>
      </li>
    <% end %>

    <% if logged_in? %>
      <p><%= link_to "Find Friends", users_path %></p>
    <% end %>

    <h3>Added me:</h3>
    <% @user.inverse_friends.each do |friend| %>
    <li>
      <%= friend.user_name %>
      <% if current_user == @user && !Friendship.between(current_user, friend) %>
        (<%= link_to "add friend", friendships_path(friend_id: friend), method: :post%>)
      <% end %>
    </li>
    <% end %>
  </div>
</div>
