<title><%= @user.user_name %> - Pintrips</title>
<div class="row">
  <div class="col-md-8">
    <%= render partial: 'map', locals: {user: @user} %>
  </br>
    <center><h3><%= @user.trips_header %></h3></center>
    <% if @user.trips.empty? %>
      <% if @user == current_user %>
        <center><p> No trips yet.  <%= link_to "Create a trip", new_trip_path %> and tell everyone about your adventure!</p></center>
        <% else %>
        <center><p><%= @user.user_name %> hasn't created any trips yet.</p></center>
      <% end %>
    <% end %>

    <% @trips.each do |trip| %>
      <div class="jumbotron">
        <%= render partial: 'trips/trip', locals: {trip: trip, featured_image_url: trip.featured_image_url} %>
      </div>
    <% end %>
    <% if current_user && current_user == @user %>
      <p><%= link_to "Create new trip", new_trip_path unless @user.trips.empty? %></p>
    <% end %>
    <hr>

    <center><h3><%= @user.events_header %></h3></center>

    <% if @user.events.empty? && @user.trips.empty? %>
      <% if @user == current_user %>
        <center><p> No events yet.  <%= link_to "Create an event", new_event_path %> and tell everyone about your adventure!</p></center>
        <% else %>
        <center><p><%= @user.user_name %> hasn't created any events yet.</p></center>
      <% end %>
    <% end %>

    <% @orphan_events.each do |event| %>
      <%= render partial: "/events/event", locals: {event: event} %>
    <% end %>

    <br>
    <% if current_user && current_user == @user %>
      <%= link_to "Create new event", new_event_path %>
    <% end %>
    <hr>

    <!-- WISH LIST SECTION -->
    <center><h2><%= @user.wish_list_header %></h2></center>

    <% if @user.wish_list_trips.empty? && @user.wish_list_events.empty? %>
      <% if @user == current_user %>
        <center><p> You haven't added any trips or events to your wishlist.  <%= link_to "Browse trips", trips_path %> or <%= link_to "events,", events_path %> and find one that inspires you! </p></center>
        <% else %>
        <center><p>No trips or events on <%= @user.user_name %>'s wishlist.</p></center>
      <% end %>
    <% end %>



    <!-- Trips Wish List -->
    <center><h3><%= @user.wish_list_trips_header %></h3></center>


    <% @wish_list_trips.each do |trip| %>
      <%= render partial: "/trips/trip", locals: {trip: trip} %>
    <% end %>

    <!--  Events Wish List -->
    <center><h3><%= @user.wish_list_events_header %></h3></center>
    <% @wish_list_events.each do |event| %>
      <%= render partial: "/events/event", locals: {event: event} %>
    <% end %>

  </div>
  <div class="col-md-4">
    <h1><%= @user.user_name %></h1>
    <% if logged_in? %>
      <% if current_user != @user && !Friendship.between(current_user, @user) %>
        <p>(<%= link_to "add friend", friendships_path(friend_id: @user), method: :post%>)</p>
      <% end %>
    <% end %>
    <% if @user.profile_image %>
      <a href="<%= image_path(@user.profile_image) %>"><img class="img-fluid" width="280" src="<%= @user.profile_image.url %>" alt="<%= @user.profile_image.title %>" style="border-radius: 50%"></a>
    <% end %>
    <p><%= @user.first_name %> <%= @user.last_name %></p>
    <p><%= @user.email %></p>

    <% if @user == current_user %>
    <h3>My Friends:</h3>
    <% else %>
    <h3><%= @user.first_name %>'s Friends</h3>
    <% end %>


    <% @user.friendships.each do |friendship| %>
      <li>
        <%=link_to friendship.friend.user_name, user_path(friendship.friend.id)%>
        <% if current_user %>
          (<%=link_to "remove", friendship_path(friendship.friend.id), :method => :delete %>)
        <% end %>
      </li>
    <% end %>

    <% if @user == current_user %>
      <p><%= link_to "Find Friends", users_path %></p>
    <% end %>

    <% if @user == current_user %>
    <h3>Added me:</h3>
    <% else %>
    <h3>Added <%= @user.first_name %>:</h3>
    <% end %>

    <% @user.inverse_friends.each do |friend| %>
    <li>
      <%= link_to friend.user_name, user_path(friend) %>
      <% if current_user == @user && !Friendship.between(current_user, friend) %>
        (<%= link_to "add friend", friendships_path(friend_id: friend), method: :post%>)
      <% end %>
    </li>
    <% end %>
  </div>
</div>
