<h1><%= @user.user_name %></h1>
<p><%= @user.email %></p>
<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>

<h3>My Friends:</h3>

<% @user.friendships.each do |friendship| %>
  <li>
    <%=link_to friendship.friend.user_name, user_path(friendship.friend.id)%>
    <% if current_user %>
      (<%=link_to "remove", friendship_path(friendship.friend.id), :method => :delete %>)
    <% end %>
  </li>
<% end %>

<p><%= link_to "Find Friends", users_path %></p>

<h3>Added me:</h3>
<% @user.inverse_friends.each do |friend| %>
<li>
  <%= friend.user_name %>
</li>
<% end %>

<h3> My Events: </h3>

<% @events.each do |event| %>
  <p><%= event.review %></p>
  <p><%= event.rating %> stars</p>
  <p><%= event.type.name %></p>
  <p><%= event.date %></p>
  <% if event.user == current_user %>
    <p><%= link_to "Edit", edit_event_path(event) %> | <%= link_to "Delete", event_path(event), method: :delete %></p>
  <% end %>
<% end %>
<br>
<%= link_to "Create new event", new_event_path %>
