<div>
  <h3> <%= link_to event.title, event_path(event) %> </h3>
  <%= link_to event.user.user_name, user_path(event.user) %>
  <% event.images.each do |img| %>
  <%= image_tag img.url, alt: img.caption %>
  <% end %>
  <p><%= event.review %></p>
  <p><%= event.rating %></p>
  <p><%= event.type.name %></p>
  <p><%= event.date %></p>
  <% if event.user == current_user %>
    <p><%= link_to "Edit", edit_event_path(event) %> | <%= link_to "Delete", event_path(event), method: :delete, data: { confirm: 'Delete Event?' } %></p>
  <% end %>
</div>
