<%= form_for @event do |f| %>
  <p><%= f.label :title %>  <%= f.text_field :title %></p>
  <p><%= f.label :review %></p>
  <p><%= f.text_area :review %></p>
  <p><%= f.label :type_name %> <%= f.select :type_name, Type.all.map { |type| [type.name,type.name]} %>
  <p><%= f.label :rating %>  <%= f.select :rating, (0..10) %></p>
  <p><%= f.label :date %><%= f.date_select :date, :order => [:day, :month, :year] %></p>
  <p><%= f.label :location_name %><%= f.text_field :location_name %></p>
  <p><%= f.check_box :on_wish_list, {:multiple => false}, true, false %> <%= f.label :on_wish_list %></p>
  <p><%= f.submit %></p>
<% end %>
