<% @events.each do |event| %>
  <div class="well">
    <a href='<%= event_path(event) %>'><h3><%= event.title %></h3></a>
    <%= link_to event.user.user_name, user_path(event.user) %>
    <p><%= event.review %></p>
    <p><%= event.rating %></p>
    <p><%= event.date %></p>
  </div>
<% end %>
