<h3><%= @event.title %></h3>
<%= link_to @event.user.user_name, user_path(@event.user) %>
<p><%= @event.review %></p>
<p><%= @event.rating %></p>
<p><%= @event.date %></p>
<p><%= link_to "Edit", edit_event_path(@event) %> | <%= link_to "Delete", event_path(@event), method: :delete %></p>
<hr>
<%= render partial: '/comments/new', locals: {comment: @comment, type: "event", id: @event.id} %>
<br>
<%= render partial: '/comments/show', locals: {comments: @comments} %>
