<h3>Edit photo</h3>
<%= form_for @image do |f| %>
<p><%= f.label :url, "Image URL (please host elsewhere)" %>
<%= f.text_field :url %></p>
<p><%= f.label :title %>
  <%= f.text_field :title %></p>
<p><%= f.label :caption %></p>
<p><%= f.text_area :caption %></p>

  <% if @image.event_id %>
  <p><%= f.label :event_id, "Event" %>
  <%= collection_select(:event, :event_id, @user_events, :id, :title, selected: @image.event_id) %>
  </p>
  <p><%= f.check_box :featured, {}, true, false %>
    <%= f.label :featured, "Make this the featured image for event #{@image.event.title}" %></p>
  <% end %>


  <% if @image.trip_id %>
  <p><%= f.label :trip_id, "Trip" %>
  <%= collection_select(:trip, :trip_id, @user_trips, :id, :name, selected: @image.trip_id) %>
  </p>
  <p><%= f.check_box :featured, {}, true, false %>
    <%= f.label :featured, "Make this the featured image for trip #{@image.trip.name}" %></p>

  <% end %>

<p><%= f.submit %></p>
<% end %>
