<h3>Add a photo</h3>
<%= form_for @image do |f| %>
<p><%= f.label :url, "Image URL (please host elsewhere)"  %>
<%= f.text_field :url %></p>
<p><%= f.label :title %>
  <%= f.text_field :title %></p>
<p><%= f.label :caption %></p>
<p><%= f.text_area :caption %></p>
<p>
  <% if request.env['PATH_INFO'].include?('event') %>
  <%= f.label :event_id, "Event" %>
  <%= collection_select(:event, :event_id, @user_events, :id, :title) %>
  <% end %>


  <% if request.env['PATH_INFO'].include?('trip') %>
  <%= f.label :trip_id, "Trip" %>
  <%= collection_select(:trip, :trip_id, @user_trips, :id, :name) %>
  <% end %>
</p>

<p><%= f.submit %></p>
<% end %>
