<!--Navbar-->
<nav class="navbar navbar-md navbar-dark bg-primary">
  <div class="container">
    <% if logged_in? %>
      <a class="navbar-brand" href="/users/<%= current_user.id %>">
        <img src="https://cdn4.iconfinder.com/data/icons/flatified/512/map.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <strong>Pintrips</strong>
      </a>
    <% else %>
    <a class="navbar-brand" href="/trips">
      <img src="https://cdn4.iconfinder.com/data/icons/flatified/512/map.png" width="30" height="30" class="d-inline-block align-top" alt="">
      <strong>Pintrips</strong>
    </a>
    <% end %>
    <%= link_to "All Trips", trips_path, style: 'color: #ffffff;' %>
    <%= link_to "All Events", events_path, class: 'nav-link', style: 'color: #ffffff;' %>
    <% if logged_in? %>
    
      <%= link_to "Friends Trips", trips_friends_path, class: 'nav-link', style: 'color: #ffffff;' %>
      <%= link_to "#{current_user.user_name}", user_path(current_user.id), class: 'nav-link', style: 'color: #ffffff;' %>
      <%= link_to "Edit Profile", edit_user_path(current_user.id), class: 'nav-link', style: 'color: #ffffff;' %>
      <%= link_to "Logout", logout_path, method: :delete, class: 'nav-link', style: 'color: #ffffff;' %>
    <% else %>
      <%= link_to "Log In", login_path, class: 'nav-link', style: 'color: #ffffff;' %>
      <%= link_to "Sign Up", users_sign_up_path, class: 'nav-link', style: 'color: #ffffff;' %>
    <% end %>
  </div>
</nav>
